/*默认样式*/
body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: #f7f7f7;
    font-family: "Microsoft YaHei";
    line-height: 1.5;
}
ul,h3,h2,p,dd,dt,dl{
    margin: 0;
    padding: 0;
}
::selection{
    background-color: #b3d4fc;
    text-shadow: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;
}
a:hover,a:active{
    color: #0ae;
}
/*工具样式,居中、显示隐藏、浮动、清浮等*/
.pull-right{
    float: right !important;
}
.pull-left{
    float: left !important;
}
.block-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-center{
    text-align: center !important;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
.clearfloat:after{
    display:table;
    content: " ";
    clear: both;
}
/*网站头部样式*/
header{
    width: 100%;
}
header .topnav{
   line-height: 30px;
    background-color: #555;
    border-bottom: 1px solid #ecc000;
    color: #fff;
    padding: 0 15px;
}
header .topnav .tel{
    float: left;
}
header .topnav ul{
    float: right;

}
header .topnav ul li{
    display: inline-block;

}
header .topnav ul li+li{
    border-left: 1px solid #999;
    margin-left:-3px;
}
header .topnav ul li a{
    display: inline-block;
    color: #fff;
    padding:0 15px;
}

@media only screen and (max-width: 800px) {
    header .topnav ul li a{
        padding: 0 10px;
    }
}
@media only screen and (max-width: 480px){
    header .topnav .tel,
    header .topnav ul li:nth-child(3),
    header .topnav ul li:nth-child(4){
        display: none;
    }
}

header .mainnav .brand{
    float: left;
    padding-top:10px;
    padding-left: 10px;
}
header .mainnav ul{
    text-align: right;
}
header .mainnav ul li{
    display: inline-block;
    border-left: 1px solid #f0ede9;
}
header .mainnav ul li a{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #7c7a65;
    line-height:55px;
    padding: 0 30px;
}
header .mainnav ul li a:hover,
header .mainnav ul li a:active{
    background-color: #f8f6f1;
    color: #ffb300;
}
@media only screen and (max-width: 800px){
    header .mainnav .brand{
        float: none;
        display: block;
        padding: 0;
        margin: 15px auto 5px;
        text-align: center;
    }
    header .mainnav ul{
        text-align: center;
    }
    header .mainnav ul li{
        border: none;
    }
    header .mainnav ul li a{
        padding: 0 15px;
    }
}
@media only screen and (max-width: 480px){
    header .mainnav ul li:first-child{
        display: none;
    }
    header .mainnav ul li a{
        line-height: 30px;
        font-weight: normal;
        padding: 0 5px;
    }
}
/*网站主体样式*/
/*交易信息*/
.container{
    width: 100%;
}
.dealing{
    width: 100%;
    background-color: #7c7365;
}
.deal-content{
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
}
.deal-data{
    float: left;
    padding: 10px;
}
.deal-data .deal-money{
    display: inline-block;
    font-size: 22px;
    color: #ff9900;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #333 inset;
    -webkit-box-shadow: 1px 2px 3px #333 inset;
    -moz-box-shadow: 1px 2px 3px #333 inset;
    padding: 0 10px;
    margin: 0 10px;
}
.deal-report{
    float: right;
}
.deal-report a{
    display: inline-block;
    color: #fff;
    padding: 10px;
}
@media only screen and (max-width: 800px){
    .deal-content{
        font-size: 12px;
    }
    .deal-data{
        padding: 10px 5px;
    }
    .deal-data .deal-money{
        font-size: 16px;
        line-height: 20px;
        box-shadow: none;
        margin:0;
        padding:0 5px;
    }
}
@media only screen and (max-width: 480px){
    .deal-data,.deal-report{
        float: none;
        text-align: center;
    }
    .deal-data,.deal-report a{
        padding: 0;
    }
    .dealing{
        padding: 7px 0;
    }
}
/*广告轮播*/
.advert{
    display:block;
}
/*平台特点*/
.feature{
    width: 90%;
    font-size: 0;
    margin: 20px auto;
}
.feature .advant{
    display: inline-block;
    width: calc(33.33333% - 30px) ;
    padding: 10px;
    box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    -moz-box-shadow: 0 0 4px #ccc;
    background-color: #fff;
    font-size: 14px;
}
.feature .advant+.advant{
    margin-left: 15px;
}
.feature .advant h3{
    display: inline-block;
    width: 40%;
    margin-top: 3px;
    color:#ff9900;
    font-size: 33px;
    font-weight:bold;
    vertical-align: top;
    text-align: center;
}
.feature .advant p{
    display: inline-block;
    width: 55%;
    color: #999;
}
@media only screen and (min-width: 480px) and (max-width: 800px){
    .feature .advant h3,
    .feature .advant p{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 26px;
    }
    .feature .advant p{
        font-size: 12px;
    }
}
@media only screen and (max-width: 480px){
    .feature{
        width: 96%;
        margin: 10px auto;
    }
    .feature .advant{
        display: block;
        width: auto;
    }
    .feature .advant+.advant{
        margin: 10px 0 0;
    }

}
/*网站通告*/
.circular{
    width: 90%;
    margin: 20px auto;
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    -moz-box-shadow: 0 0 4px #ccc;
}
.circular>span{
    float: left;
    margin-left: 20px;
    color: #999;
}
.circular a:nth-of-type(1){
    float: left;
    display:inline-block;
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.circular a span{
    color: #999;
    margin-right: 10px;
    font-size: 12px;
}
.circular .more{
    float: right;
    margin-right: 20px;
    color:#ff9900;
}
@media only screen and (max-width: 480px){
    .circular{
        width: 96%;
        margin: 10px auto;
        font-size: 12px;
    }
    .circular a span{
        display: none;
    }
    .circular>span{
        margin-left: 10px;
    }
    .circular .more{
        margin-right: 10px;
    }
}
/*产品信息*/
.product{
    width: 90%;
    margin: 20px auto;
    background-color: #f5f9fa;
    border-top: 2px solid #ff9900;
    box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    -moz-box-shadow: 0 0 4px #ccc;
}

.product h2{
    width: 20%;
    float: left;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin-top: 30px;
    color: #635c51;
}
.product h2 em{
    font-style: normal;
    display: block;
    margin-top: 10px;
    font-size: 16px;
}
.product h2 em:first-child{
    margin-top: 40px;
}
.product .product-content{
    width: 79.5%;
    float: right;
    border-left: 1px solid #eee;
    background-color: #fff;
}
.product-content .item{
    width: 100%;
    overflow: hidden;
}
.product-content .item+.item{
    border-top: 1px solid #eee;
}
.product-content .item h3{
    float: left;
    width: 30%;
    margin: 15px 0;
    font-size: 14px;
    text-align: center;
}
.product-content .item h3 em{
    font-style: normal;
    font-size: 32px;
    margin-right: 5px;
    color: #8b999d;
}
.product-content .item .product-info{
    float: left;
    width: 48%;
    padding: 12px 10px;
    font-size: 14px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;

}
.product-content .item .product-info p{
   display: inline-block;
    width: 49%;
   text-align: center;
}
.product-content .item .product-info p span{
    display: block;
    font-size: 24px;
    color: #ff9900;
}
.product-content .item .product-info p span i{
    font-size: 12px;
    font-style: normal;
    color: #999;
    margin-left: 3px;
}
.product-content .item .buy{
    float: left;
    padding: 10px;
    width: calc(22% - 44px);
}
.product-content .item .buy a{
    display: block;
    width: 90%;
    line-height: 40px;
    color: #fff;
    text-align: center;
    margin: 10px auto;
    background-color: #ff9900;
    border-radius: 5px;
}
.product-content .item .buy a:hover,
.product-content .item .buy a:active{
    background-color: #ffc468;
}
@media only screen and (max-width: 800px){
    .product h2{
        float: none;
        width: 100%;
        font-size: 22px;
        margin: 12px 0 10px;
    }
    .product h2 em{
        display: inline;
        font-size: 12px;
        margin: 0 5px;
    }
    .product h2 em:first-child:before{
        content: " ";
        display: table;
    }
    .product .product-content{
        float: none;
        width: 100%;
    }
    .product-content .item h3{
        margin-bottom:0;
    }
    .product-content .item h3 em{
        font-size: 24px;
    }

    .product-content .item .product-info{
        font-size: 12px;
    }
    .product-content .item .product-info p span{
        font-size: 20px;
    }
    .product-content .item .buy a{
        margin: 5px auto;
    }
}
@media only screen and (max-width: 480px){
    .product-content .item h3{
        width: 28%;
    }
   .product-content .item h3 em{
       font-size: 20px;
   }
    .product-content .item .product-info{
        width: 68%;
        border: none;
        padding: 10px 3px;
    }
    .product-content .item .product-info p span{
        font-size: 18px;
    }
    .product-content .item .buy{
        float: none;
        clear: both;
        width: auto;
    }
    .product-content .item .buy a{
        margin: 0 auto;
    }
}
/*底部导航样式*/
.foot-message{
    color: #808080;
   padding: 30px 0;
    background-color: #fff;
    border-top: 2px solid #eee;
    width: 100%;
}
.foot-message .wrap{
    width: 90%;
    margin: 0 auto;
}
.foot-message .wrap .brand{
    float: left;
    width: 20%;
    height: 35px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    background: url(../img/logo@1x.png) no-repeat left;
   background-size: 150px 35px;
}
.foot-message .wrap dl{
    float: left;
    width: 15%;
}
.foot-message .wrap dl dt{
    font-size: 16px;
    line-height: 30px;
}
.foot-message .wrap dl dd{
    font-size: 14px;
    line-height: 24px;
}
@media only screen and (max-width: 800px){
    .foot-message .brand{
        display: none;
    }
    .foot-message .wrap dl{
        width: 20%;
    }
    .foot-message .wrap dl dt{
        font-size: 14px;
        line-height: 25px;
    }
    .foot-message .wrap dl dd{
        font-size: 12px;
        line-height: 20px;
    }
}
@media only screen and (max-width: 480px){
    .foot-message .wrap{
        width: 98%;
    }
    .foot-message .wrap dl dt{
        font-size: 12px;
        line-height: 20px;
    }
}
/*网站底部样式*/
footer{
    width: 100%;
    background-color: #ededed;
    padding:30px 0 50px;
    text-align: center;
}
footer ul{
    text-align: center;
}
footer ul li{
    display: inline-block;
}
footer ul li .icon{
    display: inline-block;
    margin-right:15px;
   background: url(../img/cert1.png) no-repeat;
    background-size: 466px 447px;
}
footer ul li .icon1{
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}
footer ul li .icon2{
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}
footer ul li .icon3{
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}
footer ul li .icon4{
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}
footer ul li .icon5{
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}
footer ul li .icon6{
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}
footer ul li .icon7{
    width: 30px;
    height: 30px;
    background: url("../img/cert2.png") no-repeat;
    background-position:0 0;

}
footer p{
    margin-top: 10px;
    color: #999;
}
/*登录模块样式*/
.fullbg{
    width: 100%;
    height:2000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: gray;
    opacity: 0.3;
    filter: alpha(opacity=40);
}
.login-block{
    position: fixed;
    left:calc(50% - 175px);
    top: 20%;
    z-index: 11;
    background: #fff;
    box-shadow: 2px 2px 4px #999;
}

.cancel-icon span{
    float: right;
    margin: 16px 16px 0 0;
    background: url("../img/cha1.gif");
    width: 14px;
    height: 14px;
    background-size: contain;
    cursor: pointer;
}
.login-content{
    width: 290px;
    padding:0 30px;
}
.login-content h3{
    font-size: 22px;
  text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}
.login-content .form-item{
    background: #fff;
    line-height: 40px;
    padding-left:15px;
    border: 1px solid #d9d9d9;
}
.form-item+div{
    margin-top: 20px;
}
.form-item label{
    display: inline-block;
    width: 16px;
    height: 18px;
    background-size: 16px 18px;
    vertical-align: middle;
}
.form-item label{
    background: url("../img/login-user.png");
}
.form-item+div label{
    background: url("../img/login-pass.png");
}
.form-item input{
    border: none;
    outline:none;
    margin-left: 15px;
    width: calc(100% - 35px);
}
.login-content input[type*='submit']{
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    border-radius: 3px;
    background:#ff9900;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
.regis-link{
    float: right;
    margin: 20px 0;
}
@media only screen and (max-width: 480px){
    .login-block{
        width: 80%;
        left: 10%;
        right: 10%;
    }
    .login-content{
        width: 82%;
        padding:0 9%;
    }
}
/*注册模块样式*/
.form-container{
    width: 80%;
    margin: 0 auto 30px;
}
.status-buttons{
    padding:30px 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.status-buttons a {
    color:#b9b9b9;
    display:inline-block;
    font-size:12px;
    margin:0 1%;
    text-align:center;
}
.status-buttons span {
    background:#b9b9b9;
    color:#fff;
    display:block;
    line-height:30px;
    margin:0 auto 10px;
    width:30px;
    border-radius:15px;
}

.status-buttons a.active{
    color: #ff9900;
}
.status-buttons a.active span {
    background:#ff9900;
}
.status-line{
    display: inline-block;
    border-bottom:2px solid #b9b9b9;
    width:20%;
    margin:0 -3px 37px;
}
@media only screen and (max-width: 800px){
    .status-line{
        display: none;
    }
}
.signup-form {
    background:#fff;
    box-shadow: 0 0 4px #ccc;
    position:relative;
    min-height:350px;
    overflow:hidden;
    padding:30px; }
.info-container{
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
}
.form-team{
    line-height: 40px;
    background: #fff;
    border: 1px solid #d9d9d9;
}
.form-team+div{
    margin-top: 20px;
}
.form-team label{
    display: inline-block;
    width: 80px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: #666;
    margin: 0;
}
@media only screen and (max-width: 800px){
    .info-container{
        width: 80%;
    }
    .form-team label{
        display: none;
    }
}
@media only screen and (max-width: 480px){
    .form-container{
        width: 90%;
    }
}
.form-team input:not(.test-input){
    display: inline-block;
    width: calc(100% - 90px);
    padding-left:5px;
    border: none;
    outline:none;
}
.test-input{
    display: inline-block;
    padding-left:5px;
    border: none;
    outline: none;
}
.info-container button{
    display: block;
    width: 50%;
    margin: 30px auto 0;
    border: none;
    padding: 0;
}
.info-container button a{
    display: block;
    color: #fff;
    line-height: 40px;
    background:#ff9900;
    font-size: 18px;
    text-align: center;
}
/*ng-enter,ng-leave动画样式*/
.form-views.ng-enter,
.form-views.ng-leave{
    position:absolute;
    left:30px;
    right:30px;
    transition:0.5s all ease;
    -moz-transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
}
.form-views.ng-enter {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

.form-views.ng-leave{
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}
/*向左滑出动画*/
@keyframes slideOutLeft {
    to  { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to  { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to  { -webkit-transform: translateX(-200%); }
}
/*向右滑入动画*/
@keyframes slideInRight {
    from { transform:translateX(200%); }
    to   { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from { -moz-transform:translateX(200%); }
    to   { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from { -webkit-transform:translateX(200%); }
    to   { -webkit-transform: translateX(0); }
}
