<div class="info-container">
    <form id="signupform">
        <div class="form-team">
            <label for="phonenum">手机号码</label>
            <input type="text"  name="phonenum" placeholder="请输入手机号码" required>
        </div>
        <div class="form-team">
            <label for="email">设置密码</label>
            <input type="text"  name="password" placeholder="6到20位数字字母组合" required>
        </div>
        <div class="form-team">
            <label for="test">验证码</label>
            <input type="text"  name="test" class="test-input" placeholder="请输入验证码" required>
            <a href="#">获取验证码</a>
        </div>
        <button type="button"><a href="##" id="a">下一步</a></button>
    </form>
</div>
